body
{
    background-color: #00FA9A;
    margin: 20%;
}
#img
{
    display: inline-block;
    width: 100%;
}
h1.title
{
    text-align: center;
    text-shadow: 5px 5px 10px black;
    color: white;
    font-size: 7vh;
}
#s1
{
  font-size: 17px;  
}
#div2
{
    background-color: rgb(46,139,87,0.25);
    box-shadow:20px 20px 20px #98FB98;
    padding: 25px;
    margin: 11px;
    margin-top: 50px;
}
#a
{
    text-decoration: none;
    color: black;
}